.closestyle1149769{ font-size:12px;color:#333333;text-decoration: none ;}

/*
*组件样式
*组件样式
*组件样式
*组件样式
*组件样式
*组件样式
*组件样式
*组件样式
*/
@media screen and (min-width:1024px) {
.jcalcpc{display: none;}

}
@media screen and (max-width:1024px) {

.jcalcsj{  display: none;}
}



